<main class="">
  <header>
    <img src="https://rmkcdn.successfactors.com/9645d618/7f8d803c-bda8-4c13-b99d-5.png"/>
    <div class="link-container">
    <button class="yellow-button" (click)="signOut()">
      Cerrar sesion
    </button>
    <a class="yellow-button" href="/profile">
      Perfil
    </a>
    </div>
  </header>
  <div class="desktop-image">
    <img src="https://rmkcdn.successfactors.com/9645d618/80001512-4c55-4d29-bf1c-4.jpg" />
  </div>
  <div class="mobile-image">
    <img src="https://rmkcdn.successfactors.com/9645d618/d4ecc5a2-73c4-4694-8340-4.jpg" />
  </div>
  <div id="talento-b-banner">
    <h1>¿Qué es Talento B?</h1>
    <p>
      Talento B es todo, menos convencional. Aquí realizarás un reto
      disruptivo y nos ayudarás a transformar la industria financiera, ¿te
      animas a hacer un impacto real? Talento B es tu lugar.
    </p>
    <p>
      Formamos apasionados por la
      <b>ciencia de datos, tecnología, diseño y ciberseguridad</b>, para
      convertirlos en los expertos que asumirán los roles del futuro en
      Bancolombia.
    </p>
  </div>
  <div id="banner-qualities">
    <div class="quality-container">
      <img src="https://rmkcdn.successfactors.com/9645d618/e1252680-778d-4db2-8f33-d.svg" />
      <p>
        Más que un perfil, buscamos pasión y curiosidad por la ciencia de
        datos, tecnología, diseño o ciberseguridad.
      </p>
    </div>
    <div class="quality-container">
      <img src="https://rmkcdn.successfactors.com/9645d618/eb785b90-7cf1-48e7-9e38-3.svg" />
      <p>
        No es necesario que cuentes con experiencia laboral, pero pilas,
        debes ser mayor de edad, vivir en Medellín, Bogotá, Barranquilla o
        Cali y si ya has empezado tu vida laboral, esta no debe superar los
        2 años.
      </p>
    </div>
    <div class="quality-container">
      <img src="https://rmkcdn.successfactors.com/9645d618/fa418ec3-a3bd-46f0-8ed8-0.svg" />
      <p>
        Buscamos que tus ganas de aprender o tu carrera te hayan dado unos
        conocimientos base en ciencia de datos, tecnología, diseño o
        ciberseguridad.
      </p>
    </div>
  </div>
  <div id="vp-container">
    <iframe
      id="vp-video"
      src="https://player.vimeo.com/video/702894684?h=a76efdf149"
      title="Video"
    ></iframe>
  </div>
  <div class="desktop-image">
    <img src="https://rmkcdn.successfactors.com/9645d618/8d50c195-6a3b-4c5f-96c5-7.png" />
  </div>
  <div class="mobile-image">
    <img src="https://rmkcdn.successfactors.com/9645d618/802de986-a838-4fd8-b8e3-f.png" />
  </div>
  <div class="flex flex-col items-center gap-5 text-center p-5">
    <h2 class="text-2xl font-bold">
      Te debes estar preguntando cómo funciona el programa… ¡acá te
      contamos!
    </h2>
    <p class="text-lg">
      Talento B consiste en un proceso de <b>3 etapas</b> para potenciar y
      fortalecer tu perfil, acompañado de mentores expertos y acceso a
      formación especializada.
    </p>
  </div>
  <div id="etapas-container">
    <div class="etapa">
      <img src="https://rmkcdn.successfactors.com/9645d618/b95ba96e-d929-4cc1-af81-6.svg" />
      <h3>¡Aquí comienza la aventura! </h3>
      <p>
        Tus ideas y capacidad investigativa te permitirán conocer el camino
        para avanzar a la siguiente etapa.
      </p>
      <ul>
        <li>Duración: 6 meses.</li>
        <li>Jornada: medio tiempo.</li>
        <li>Contrato: termino fijo.</li>
        <li>¡Remuneración competitiva! 🤩</li>
      </ul>
    </div>
    <div class="etapa">
      <img src="https://rmkcdn.successfactors.com/9645d618/aada228f-fe2a-47d0-9d69-5.svg" />
      <h3>¡Pon a prueba e implementa tus ideas!</h3>
      <p>
        En esta etapa desarrollarás el reto investigado en la etapa Junior.
      </p>
      <ul>
        <li>Duración: 6 meses.</li>
        <li>Jornada: tiempo completo.</li>
        <li>Contrato: termino fijo.</li>
        <li>¡Remuneración competitiva! 🤩</li>
        <li>
          *Si eres estudiante esta etapa podrá ser tu práctica profesional.
        </li>
      </ul>
    </div>
    <div class="etapa">
      <img src="https://rmkcdn.successfactors.com/9645d618/8e2e07e3-6b8d-4032-94b6-6.svg" />
      <h3>¡Deja huella e inspíranos!</h3>
      <p>
        Ya conoces el camino, es el momento de pensar en grande a través de
        nuevas oportunidades.
      </p>
    </div>
  </div>
  <footer class="link-container">
  </footer>
</main>